<nav class="navbar  navbar-light bg-light" style="background-color: white;">
	<div class="container-fluid">

		<a class="nav-brand" href="{{ path('home') }}">
			<img src="/images/iliade.svg" alt="Iliade &amp; films" height="80">
		</a>
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="#">Long-métrages</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Court-métrages</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</nav>
