{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur le site d'Iliade &amp; films</h1>
			<p class="lead">Iliade &amp; films est une société de production audiovisuel indépendante, spécialisée dans l'animation.</p>
			<hr class="my-4">
			<section class="row"></section>
		</div>

	</div>
{% endblock %}
