<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Iliade &amp; films
			{% endblock %}
		</title>
		<metaname="viewport"
			content="width=device-width, initial-scale=1.0">
			<!-- feuilles de styles -->
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
			{% endblock %}
			<!-- JS -->

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}

		</head>

		<body>
			{% include "partials/navbar.html.twig" %}


			<div class="container"> {% block body %}{% endblock %}
				</div>

				<footer>
					{% include "partials/footer.html.twig" %}
				</footer>
			</body>
		</head>
	</html>
